doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title
			block title
		meta(name="description" content="")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="shortcut icon" href="favicon.png" )
		link(rel="stylesheet" href="libs/font-awesome/font-awesome.min.css")
		link(href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet")
		link(rel="stylesheet" href="css/styles.min.css")
		link(rel="stylesheet" href="libs/owl/owl.carousel.min.css")
	body
		block content

		script(src="libs/jquery/jquery-3.2.1.min.js")
		script(src="libs/owl/owl.carousel.min.js")
		script(src="js/main.js")


	